[submodule "g15_STM32"]
	path = g15_STM32
	url = https://github.com/RyutoTanaka/g15_STM32.git
[submodule "src/g15_description"]
	path = src/g15_description
	url = https://github.com/RyutoTanaka/g15_description_ros2.git
[submodule "src/g15_control"]
	path = src/g15_control
	url = https://github.com/RyutoTanaka/g15_control_ros2.git
